@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: radial-gradient(circle, #E0E1DD, #778DA9);
    /* background-image: linear-gradient(to top, #E0E1DD, #778DA9); */
    /* height: 100%; */
    background-attachment: fixed;   
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px #48556663;
}

h1 {
    color: #415A77;
    text-align: center;
    text-shadow: 1px 1px 2px #22303f69;
}

h2 {
    color: #1B263B;
}

p {
    color: #0D1B2A;
    text-align: justify;
}

