@charset "UTF-8";

@font-face {
    font-family: android-font;
    src: url(../fontes/idroid.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    height: 100vh;
    width: 100%;
    background-color: #c5ebd6;
}

main {
    display: block;
    width: 810px;
    margin: auto;
    background-color: white;
    padding: 5px 15px;
}

h1, h2 {
    color: #175132;
    font-family: android-font;
}

h1 {
    font-size: 1.74em;
    padding: 10px;
}

h2 {
    background-image: linear-gradient(to right, #c5ebd6, white);
    margin: 10px;
    padding: 5px;
}

p {
    text-align: justify;
    text-indent: 26px;
    line-height: 1.5;
    padding: 10px;
}

.border-video {
    background-color: #175132;
    padding: 20px 10px;
    margin: 0px;
}

.video-center {
    height: 400px;
    background-color: #175132;
    display: flex;
    margin: auto;
    width: 95%;
}

img {
    display: flex;
    margin: auto;
}

/* Div "Aprender mais" */

.learn-more {
    background-color: #84e1ad;
    padding: 0px;
    border-radius: 10px;
    margin: 10px 0px;
}

.title-lm {
    text-indent: 5px;
    margin: 0px;
    padding: 5px 0px;
    background-color: #2FA866;
    color: white;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}

