@charset "UTF-8";

/* Estilo para impressoras */

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.3em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: "Este Artigo foi gerado pelo site www.cursoemvideo.com";
}
